---
import SimpleLayout from "../shared/layouts/SimpleLayout.astro";
---

<SimpleLayout
  title="Página não encontrada | Astro Boilerplate"
  description="A página que você está procurando não foi encontrada."
>
  <div class="flex flex-col items-center justify-center min-h-[50vh]">
    <h1 class="text-4xl font-bold">404</h1>
    <p class="mt-4">Página não encontrada</p>
    <a href="/" class="mt-8 text-info hover:underline">Voltar para a página inicial</a>
  </div>
</SimpleLayout>