---
import "../styles/global.css";

import SEO from '@/shared/components/astro/seo.astro';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  imageAlt?: string;
}

const {
  title = "Bem-vindo",
  description = "Um boilerplate simples em Astro",
  image,
  imageAlt
} = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <SEO
      title={title}
      description={description}
      image={image}
      imageAlt={imageAlt}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
